.product img{
    width: 300px;
    height: 200px;
}
.product{
    width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 8px;
    position: relative;
    box-shadow: 5px 5px 3px 2px lightgrey;
}
.product-info{
    margin: 15px;
}
.btn-cart{
    width:100%;
    background:#FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart:hover{
    background-color: orange;
    cursor: pointer;
}
.btn-cart p{
    font-size: large;
    font-weight: 700;
    margin-right: 10px;
}


